<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="URL" value="http://www.demoqa.com/"/>
  <add key="TestDataSheetPath" value="C:\Users\vaneto\Documents\Visual Studio 2015\Projects\SeleniumTestsDemoQaPage\SeleniumTestsDemoQaPage\DataDrivenTests\"/>
  <add key="Logs" value="C:\Users\vaneto\Documents\Visual Studio 2015\Projects\SeleniumTestsDemoQaPage\SeleniumTestsDemoQaPage\Logs\"/>
  </appSettings>
</configuration>